.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4.3rem);
}

.list-header {
  flex-basis: 10%;
  width: 90%;
  margin: auto;
}

.table-a {
  flex-basis: 81%;
  overflow-y:auto;
}

.pagination-content {
  flex-basis: 9%;
  width: 90%;
  margin: auto;
  border-top: 1px solid #ccc;
}
