table { 
	width: 700px; 
	border-collapse: collapse; 
}

th { 
	background: #3498db; 
	color: white; 
  font-weight: bold;
  position: sticky;
  top: 0;
}

td, th { 
	padding: 10px; 
	border-bottom: 1px solid #ccc; 
	text-align: left; 
	font-size: 0.8rem;
}

tr:hover td {
  background: #eee;
}

@media (min-width: 768px) {
  table { 
    width: 100%; 
    border-collapse: collapse; 
  }

  td, th { 
    padding: 10px; 
    border-bottom: 1px solid #ccc; 
    text-align: left; 
    font-size: 1rem;
  }
}